
<footer class="main-footer">
    <!-- To the right -->

    <div class="float-right d-none d-sm-inline">
        <strong>Fuber</strong> All rights reserved

    </div>
  
    
    <!-- Default to the left -->
                <a href="https://azure.microsoft.com/en-us/services/active-directory/"
                   class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
                    Azure AD

                </a>
    
 </footer>